@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem;
  background-color: hsl(0, 0%, 95%);
}

.body{
  border-radius: 15px;
}

section {
  padding: 2rem;
  width: 250px;
  height: 350px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: border-radius: 15px;
  border-bottom-left-radius: border-radius: 15px;
}

.sedans button {
  color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.suvs button{
  color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: border-radius: 15px;
  border-top-right-radius: border-radius: 15px;
}

.luxury button {
 color: hsl(179, 100%, 13%);
}

button {
  background-color: hsl(0, 0%, 95%);
  padding: .6rem;
  border: 1px solid hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  border-radius: 20px;
  color: inherit;
  margin-top: 1rem;
  transition: all .5s ease;

}

button:hover {
  background-color: hsla(0, 0%, 100%, 0);
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}

h1 {
  color: hsl(0, 0%, 95%);
  margin: 15px 0;
  font-family: 'Big Shoulders Display', cursive;

}

p {
  margin: 15px 0;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
}
